<div class="headline1">Impressum:</div>

<div class="content">
    Gem. § 6 Nr. 5 Teledienstgesetz haben wir wie folgt zu informieren:<br>
    Name des Vereins: Akkordeon Orchester Ansbach e.V. <br>
    Der Verein wird durch Vorstand und Dirigenten geleitet.<br>
    Die derzeitigen Vorstandsmitglieder sind:
</div>
<table>
    <tr><td>Vorsitzende</td><td>Dr. Karin Hitzelsberger</td></tr>
    <tr><td>Stellvertretender Vorsitzender</td><td>Werner Schwarz</td></tr>
    <tr><td>Schatzmeister</td><td>Siegfried Schmid</td></tr>
    <tr><td>Schriftführer</td><td>Georg Fritsch</td></tr>
    <tr><td>Jugendvertreter</td><td>Julia Hufnagel</td></tr>
    <tr><td>Musikalische Leitung</td><td>Dr. Franz Hitzelsberger</td></tr>
    <tr><td>Dirigenten</td><td>Dr. Franz Hitzelsberger, Andrea Dannhäuser</td></tr>
</table>

<div class="content">Vorsitzende des Akkordeon Orchester Ansbach e.V.:</div>
<div class="content">
    Dr. Karin Hitzelsberger<br>
    Rügländer Straße 13<br>
    91522 Ansbach<br>
    Tel.: 0981/18891033<br>
    E-Mail: sommerfugl@web.de<br>
</div>

<div class="content">Das Akkordeon Orchester Ansbach e.V. ist im Vereinsregister des Amtsgerichts Ansbach unter der Registernummer VR 1015 eingetragen.</div>

<div class="content">Copyright/Rechtshinweis:</div>
<div class="content">
    Die Webseite des Akkordeon Orchester Ansbach e.V. ist eine Informationsseite.Sie stellt eine Vielzahl von Informationen im Internet zur Verfügung.
    Die Informationen werden regelmäßig gepflegt und aktualisiert.Das Akkordeon Orchester Ansbach e.V. übernimmt trotz sorgfältiger Beschaffung
    und Bereitstellung von Informationen keine Haftung für Richtigkeit, Vollständigkeit,Genauigkeit oder Verfügbarkeit der im Rahmen des Informationsdienstes zum Abruf bereitgehaltenen und angezeigten Inhalte.
    Für sämtliche Inhalte externer Anbieter, die per Link in das Angebot der Informationsseite des Akkordeon Orchester Ansbach e.V. eingebunden sind und sich dadurch kennzeichnen, dass sie in einem neuen Browserfenster
    dargestellt werden, ist der jeweilige Anbieterverantwortlich.
</div>

<div class="content">Wir übernehmen in soweit keine Haftung.</div>

<div class="content">Im übrigen ist die Haftung auf Vorsatz oder grobe Fahrlässigkeit beschränkt. Sollten wir durch die Bereitstellung aller gelisteten Daten etwaige Copyrights Dritter verletzt haben, bitten wir um entsprechende Nachricht des Berechtigten an
    die unseren 1. Vorsitzenden/in. Auf Wunsch werden die entsprechenden Daten oder Medien dann umgehend entfernt. Die Sicherheit der uns per Internet übermittelten Daten können wir nicht
    gewährleisten.
</div>

<div class="content">Urheber- und Kennzeichnungsrecht</div>

<div class="content">Layout, Inhalte, Fotos und Grafiken sind Eigentum vom Akkordeon Orchester

    Ansbach e.V.Texte oder Inhalte, die dem Akkordeon Orchester Ansbach e.V.
    
    nicht gehören, sind gesondert gekennzeichnet.</div>


 

<div class="content">Datenschutz</div>

<div class="content">Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher

    oder geschäftlicher Daten (E-Mail Adressen, Namen, Anschriften) besteht, so erfolgt
    
    die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis.
    
     ( z.B. Gästebuch oder Forum).
    
     Die Inanspruchnahme aller angebotenen Dienste ist - soweit technisch möglich und
    
     zumutbar - auch ohne Angabe solcher Daten bzw. unter Angabe anonymisierter Daten
    
     oder eines Pseudonyms gestattet.
    
     Die Nutzung der im Rahmen des Impressums oder vergleichbarer Angaben
    
    veröffentlichten Kontaktdaten wie Postanschriften, Telefon- und Faxnummern sowie
    
     Emailadressen durch Dritte zur Übersendung von nicht ausdrücklich angeforderten
    
    Informationen ist nicht gestattet. Rechtliche Schritte gegen die Versender von
    
    sogenannten Spam-Mails bei Verstößen gegen dieses Verbot sind ausdrücklich
    
    vorbehalten.</div>

 

<div class="content">Wichtiger Hinweis</div>

<div class="content">Das Akkordeon Orchester Ansbach e.V. kann diese Angaben und Richtlinien jederzeit

    aktualisieren.
   
    Die jeweils neueste Version wird auf dieser Website bereitgestellt.
   
    Bitte überprüfen Sie diese Seite in regelmäßigen Abständen auf eventuelle Änderungen.
   
    Das Akkordeon Orchester Ansbach e.V. ist eine private Webseite.</div>

<div class="content">Ansbach, den 18.01.2018 (Datum der Aktualisierung)</div>
