<div class="content" role="main">
  <section>
    <h2>Liebe Musikfreunde</h2>

    <p class="Hinweise">Unsere Webseite wird momentan überarbeitet.</p>

    <p>Trotzdem möchten wir euch allen die wichtigsten Infos unseres Vereins nicht vorenthalten.
    </p>

    <p>Am 6.Mai 2023 findet im Onoldiasaal in Ansbach um 19:30 Uhr unser Jubiläumskonzert zum 20-jährigen Bestehen
      unseres Vereins statt.
    </p>

    <p>Bereits im Oktober 2022 haben wir uns aus der Coronapause zurückgemeldet und freuen uns sehr darauf, mit unserem
      Publikum zusammen die letzten 20 Jahre zu feiern.
    </p>

    <p>Der Kartenvorverkauf findet wie gewohnt bei Piano Fricke (montags- und dienstags geschlossen) oder unter der
      Handynummer:
      0172/60 41 266
      statt.</p>

    <p class="Hinweise">Preis</p>
    <ul>
      <li>Vorverkauf 12€</li>
      <li>Abendkasse 15€</li>
      <li>Schüler/Studenten/Schwerbehinderte 10€</li>
    </ul>

    <p class="Hinweise">1€ geht jeweils als Spende an die Kindernothilfe e.V.</p><br><br>

    <p>Wir spielen Hits von Pink Floyd, Bee Gees, Bryan Adams, Frank Sinatra uvm.
      Als Gäste dürfen wir an diesen Abend den Männergesangsverein Hennenbach, den Unterstufenchor des Platen-Gymnasiums
      Ansbach und die Sängerin Franziska Langer begrüßen.
    </p><br><br><br>

    <div id="herunterladen_plus_plakat">
      <img src="../assets/Plakat_Bild.PNG">
      <a href="../assets/Plakat Jubiläumskonzert.pdf" download="Plakat"><img id="download_pdf"
          src="../assets/PDF.webp"></a>
    </div>
    <div id="Abschluss">
      <p>Wir freuen uns auf Ihr Kommen. Bis dahin bleibt gesund!</p>

      <p class="Hinweise">1. Vorsitzende</p>
    </div>
  </section>
</div>