<!-- Toolbar -->
<div class="toolbar" role="banner">
    

<div class="content" role="main">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img width="70" alt="Akkordeonorchester Ansbach e.V." src="../assets/AOA Logo.png"/>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Startseite</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Über uns
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbar-Dropdown">
            <li><a class="dropdown-item" routerLink="/about-us">Über uns</a></li>
          </ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Termine
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbar-Dropdown">
              <li><a class="dropdown-item" routerLink="/termine">Termine</a></li>

            
           <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">submenu</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">submenu 1.0</a></li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">submenu 1.1</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">super submenu 2.0</a></li>
                    <li><a class="dropdown-item" href="#">super submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">super submenu 2.2</a></li>
                  </ul>
                </li>

              </ul>
            </li>
          -->
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/impressum">Impressum</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
</div>

<router-outlet></router-outlet>
</div>