<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="70"
    alt="Akkordeonorchester Ansbach"
    src="../assets/AOA Logo.png"
  />
    <div class="spacer">

      <a href="./about-us/about-us.component.html">Über uns</a>
      <a href="./about-us/about-us.component.html">Termine</a>
      <a href="./about-us/about-us.component.html">Fotoalben</a>
      <a href="about-us/imprint.html">Impressum</a>

    </div>
   
</div>

<div class="content" role="main">
<section>
<h1>Liebe Musikfreunde</h1>

<p>es ist endlich soweit: Wir sind wieder da, um für Euch zu musizieren.
  Nach der Corona-Zwangspause haben wir im Mai 2022 wieder die Proben aufgenommen und ein verkürztes Programm für unsere Zuhörer einstudiert.
  </p>

  <p>Sicherlich interessiert es euch, wie es uns in den vergangenen 2 Jahren ergangen ist.
    Die Coronamaßnahmen haben es für uns unmöglich gemacht, mit dem vorgegebenen 1,5 m Sicherheitsabstand in unserem kleinen Probenraum zu musizieren. Da wir keinen größeren Alternativraum gefunden haben, mussten wir unsere Vereinsarbeit erst einmal einstellen.
    </p>

    <p>Es war schon traurig genug, dass wir uns nicht mehr treffen und Musik machen konnten, doch es wurde auch für uns als Verein noch sehr schmerzhaft.
      Ein kleines Ensemble von Akkordeon & Friends bekam Gelegenheit zu einem musikalischen Beitrag.
      Es war zur Bestattung eines Gründungsmitgliedes unseres Vereins. Eine Auftrittserfahrung, die einem Spieler emotional einiges abverlangt.
      1 ½ Jahre später sollten wir ein weiteres Mitglied verlieren.
      In Erinnerung an diese beiden Mitspieler haben wir Biscaya in unser Programm aufgenommen. Ein Stück, das  die Akkordeonmusik ins Radio gebracht hat und mit ihm die Emotion, die man mit unserem Instrument ausdrücken kann.
      </p>

      <p>„ Wir vermissen Euch schmerzlich“
      </p>
</section>
<section>
      <p>Nun stehen wir wieder vor einem Konzert und freuen uns auf unser Publikum.
        Wie anfangs schon erwähnt, treten wir mit verkürztem Programm auf, sodass wir auf eine Pause verzichten können.
        Wir haben auch eine Umstrukturierung innerhalb der Spielgruppen vorgenommen:
        Akkordeon & Friends und Da Capo haben wir vorerst zusammengefasst.
        Der Grund ist einfach: Einige Spieler haben sich in der Pandemie neue Hobbys gesucht und auch gefunden. Andere wiederum haben aus unterschiedlichen Gründen aufgehört. So hat sich unsere Spielerzahl reduziert.
        Ein Grund mehr, um an dieser Stelle um neue musikalische Talente zu werben.
        Egal ob ihr rhythmisch wie ein Schlagzeuger seid, in die Tasten greifen oder auf der Trompete einen Marsch blasen könnt, jeder ist bei uns willkommen. Selbst, wenn er blutiger Anfänger ist. Musik verschönert das Leben, lässt den Alltag vergessen und macht den Kopf frei. Habt einfach Spaß dabei und meldet euch bei uns.
        <br><br></p>
</section>
<section>
        <p>Hier unsere Konzerttermine</p>
        <ul>
        <li>15.Oktober 2022 um 19 Uhr in der Karlshalle in Ansbach</li>
      </ul>
      <p>und</p>
      <ul><li>16. Oktober 2022 um 17 Uhr im Bürgerzentrum in Merkendorf<br><br></li></ul>
     </section>
     <section> 
      <p>Und noch ein kleiner Ausblick ins Jahr 2023:</p>
      
      <h2>Wir feiern unser 20-jähriges Jubiläum</h2>
      <p>Was soll ich sagen: So wie ich unseren Dirigenten kenne, wird das ein musikalisches Erlebnis.
        <br>Seid neugierig darauf und bleibt uns treu und v.a GESUND
        </p>

        <p>Herzlichst Euer 1. Vorstand</p>
</section>
<section>
        <h2>Liebe Musikfreunde</h2>

        <p>Unsere Webseite wird momentan überarbeitet.</p>

        <p>Trotzdem möchten wir Euch allen die wichtigsten Infos unseres Vereins nicht vorenthalten.
        </p>

        <p>Am 6.Mai 2023 findet im Onoldiasaal in Ansbach um 19:30 Uhr unser Jubiläumskonzert zum 20-jährigen Bestehen unseres Vereins statt.
        </p>

        <p>Bereits im Oktober 2022 haben wir uns aus der Coronapause zurückgemeldet und freuen uns sehr darauf, mit unserem Publikum zusammen die letzten 20 Jahre zu feiern.
        </p>

        <p>Der Kartenvorverkauf findet wie gewohnt bei Piano Fricke (montags-und dienstags geschlossen) oder unter der Handynummer:
        0172/60 41 266<br>
        statt.</p>

        <p>Preis</p>
        <ul>
          <li>Vorverkauf 12€</li>
        <li>Abendkasse 15€</li>
        <li>Schüler/Studenten/Schwerbehinderte</li>
        </ul>

        <p>1€ geht jeweils als Spende an die Kindernothilfe e.V.</p><br><br>

        <p>Wir spielen Hits von Pink Floyd, Bee Gees, Bryan Adams, Frank Sinatra uvm.
          Als Gäste dürfen wir an diesen Abend den Männergesangsverein Hennenbach, den Unterstufenchor des Platen-Gymnasiums Ansbach und die Sängerin Franziska Langer begrüßen.
          </p><br><br><br>

          <p>Wir freuen uns auf Ihr Kommen. Bis dahin bleibt gesund!</p><br><br>

          <p>1. Vorsitzende</p>

</section>
</div>

