<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Impressum:

 Gem. § 6 Nr. 5 Teledienstgesetz haben wir wie folgt zu informieren:

 Name des Vereins: Akkordeon Orchester Ansbach e.V.

 Der Verein wird durch Vorstand und Dirigenten geleitet.

 Die derzeitigen Vorstandsmitglieder sind:

 

 

 
 Vorsitzende:	 Dr. Karin Hitzelsberger
 Stellvertretender Vorsitzender:	 Werner Schwarz
 Schatzmeister:	 Siegfried Schmid
 Schriftführer:	 Georg Fritsch
 Jugendvertreter:	 Julia Hufnagel
 Musikalische Leitung:	 Dr. Franz Hitzelsberger
 Dirigenten:	 Dr. Franz Hitzelsberger, Andrea Dannhäuser

 

 

 Vorsitzende des Akkordeon Orchester Ansbach e.V.:

  Dr. Karin Hitzelsberger

  Rügländer Straße 13

  91522 Ansbach

  Tel.: 0981/18891033

  E-Mail: sommerfugl@web.de

 

 Das Akkordeon Orchester Ansbach e.V. ist im Vereinsregister des Amtsgerichts

 Ansbach unter der Registernummer VR 1015 eingetragen.

 

 Copyright/Rechtshinweis:

 Die Webseite des Akkordeon Orchester Ansbach e.V. ist eine Informationsseite.

 Sie stellt eine Vielzahl von Informationen im Internet zur Verfügung.

 Die Informationen werden regelmäßig gepflegt und aktualisiert.

 Das Akkordeon Orchester Ansbach e.V. übernimmt trotz sorgfältiger Beschaffung

 und Bereitstellung von Informationen keine Haftung für Richtigkeit, Vollständigkeit,

 Genauigkeit oder Verfügbarkeit der im Rahmen des Informationsdienstes zum Abruf

 bereitgehaltenen und angezeigten Inhalte.

 Für sämtliche Inhalte externer Anbieter, die per Link in das Angebot der

 Informationsseite des Akkordeon Orchester Ansbach e.V. eingebunden sind und

 sich dadurch kennzeichnen, dass sie in einem neuen Browserfenster

 dargestellt werden, ist der jeweilige Anbieterverantwortlich.

 

Wir übernehmen in soweit keine Haftung.

 

 Im übrigen ist die Haftung auf Vorsatz oder grobe Fahrlässigkeit beschränkt.

 Sollten wir durch die Bereitstellung aller gelisteten Daten etwaige Copyrights

Dritter verletzt haben, bitten wir um entsprechende Nachricht des Berechtigten an

 die unseren 1. Vorsitzenden/in.

 Auf Wunsch werden die entsprechenden Daten oder Medien dann umgehend

 entfernt.

 Die Sicherheit der uns per Internet übermittelten Daten können wir nicht

 gewährleisten.

 

 Urheber- und Kennzeichnungsrecht

 Layout, Inhalte, Fotos und Grafiken sind Eigentum vom Akkordeon Orchester

Ansbach e.V.Texte oder Inhalte, die dem Akkordeon Orchester Ansbach e.V.

nicht gehören, sind gesondert gekennzeichnet.

 

 Datenschutz

 Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher

oder geschäftlicher Daten (E-Mail Adressen, Namen, Anschriften) besteht, so erfolgt

die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis.

 ( z.B. Gästebuch oder Forum).

 Die Inanspruchnahme aller angebotenen Dienste ist - soweit technisch möglich und

 zumutbar - auch ohne Angabe solcher Daten bzw. unter Angabe anonymisierter Daten

 oder eines Pseudonyms gestattet.

 Die Nutzung der im Rahmen des Impressums oder vergleichbarer Angaben

veröffentlichten Kontaktdaten wie Postanschriften, Telefon- und Faxnummern sowie

 Emailadressen durch Dritte zur Übersendung von nicht ausdrücklich angeforderten

Informationen ist nicht gestattet. Rechtliche Schritte gegen die Versender von

sogenannten Spam-Mails bei Verstößen gegen dieses Verbot sind ausdrücklich

vorbehalten.

 

 Wichtiger Hinweis

 Das Akkordeon Orchester Ansbach e.V. kann diese Angaben und Richtlinien jederzeit

 aktualisieren.

 Die jeweils neueste Version wird auf dieser Website bereitgestellt.

 Bitte überprüfen Sie diese Seite in regelmäßigen Abständen auf eventuelle Änderungen.

 Das Akkordeon Orchester Ansbach e.V. ist eine private Webseite.


 

 Ansbach, den 18.01.2018 (Datum der Aktualisierung)
</body>
</html>